<div class="col-md-12">

  <h2 class="text-center"> 我发表的影评 </h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th> Content </th>
        <th> Movie-Name </th>
        <th> Last Update </th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td> <%= review.content %> </td>
          <td> <%= review.group.title %> </td>
          <td> <%= review.updated_at %> </td>
          <td> <%= link_to('Edit', edit_group_review_path(review.group, review), class: "btn btn-primary btn-xs") %></td>
          <td> <%= link_to('Delete', group_review_path(review.group, review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= will_paginate @reviews%>
  </div>
</div>
