<div class="col-md-12">
  <div class="group">
    <%= link_to("New Movie", new_group_path, class: "btn btn-primary btn-lg pull-right") %>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>#</td>
        <td>Movie-Name</td>
        <td>Description</td>
        <td>Creator</td>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |g| %>
        <tr>
          <td>#</td>
          <td><%= link_to(g.title, group_path(g)) %></td>
          <td><%= simple_format(g.description) %></td>
          <td><%= g.user.email %></td>
          <td>
              <% if current_user && current_user == g.user %>
              <%= link_to("Edit", edit_group_path(g), class: "btn btn-sm btn-info")%>
              <%= link_to("Delete", group_path(g),    class: "btn btn-sm btn-danger",
                          method: :delete, data: { confirm: "Are you sure?" } )%>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
